Source: serial-tool
Maintainer: Evgeny Boger <boger@contactless.ru>
Section: misc
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 9), pkg-config
Homepage: https://github.com/wirenboard/serial_tool/

Package: serial-tool
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, python-serial, python-termcolor
Description: interactive hex serial port console
